<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>INSPINIA | Main view</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

  <link href="/css/animate.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />

  <!--추가 스타일-->
</head>

<!--우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>관리자정보관리</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/main">홈</a>
      </li>
      <li>
        <a>관리자정보관리</a>
      </li>
      <li class="active">
        <strong>조회</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<!--우측 콘텐츠 영역 -->
<form action="/member/modify/<%= user.reg_member_id%>" method="post">
  <div class="wrapper wrapper-content">
    <div class="ibox-content m-b-sm border-bottom">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group d-flex flex-column">
            <label class="control-label">프로필 사진</label>
            <img class="w-75" src="<%= user.profile_img_path%>" alt="" />
            <button class="w-75" submit="#">변경</button>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <div>
              <label class="control-label">이메일</label>
              <input
                type="text"
                class="form-control mb-3"
                value="<%= user.email %>"
              />
            </div>
            <div class="form-group">
              <label class="control-label col-6">이름</label>
              <input
                type="text"
                class="form-control mb-3"
                value="<%= user.name %>"
              />
            </div>
            <div class="form-group">
              <label class="control-label">고유번호</label>
              <input
                type="text"
                class="form-control"
                value="<%= user.reg_member_id %>"
              />
            </div>
            <div class="form-group">
              <label class="control-label">전화번호</label>
              <input
                type="text"
                class="form-control"
                value="<%= user.telephone%>"
              />
            </div>
            <div class="form-group">
              <label class="control-label">생년월일</label>
              <input
                type="text"
                class="form-control"
                value="<%= user.birth_date %>"
              />
            </div>
            <div class="form-group">
              <label class="control-label">상태</label>
              <input
                type="text"
                class="form-control"
                value="<%= user.reg_date%>"
              />
            </div>
            <div class="form-group">
              <label class="control-label">생성일시</label>
              <input
                type="text"
                class="form-control"
                value="<%= user.user_state_code%>"
              />
            </div>
            <div class="form-group">
              <label class="control-label">수정일시</label>
              <input
                type="text"
                class="form-control"
                value="<%= user.edit_date%>"
              />
            </div>

            <div class="form-group">
              <label class="control-label">수정일시</label>
              <input
                type="text"
                class="form-control"
                value="<%= user.reg_date%>"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">저장</button>
        <a href="/member/list" class="btn btn-info">목록</a>
      </div>
    </div>
  </div>
</form>
