<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

  <link href="/css/animate.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  
  <!--추가 스타일-->

  <style>
    img {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 1rem;
    }
  </style>
</head>

<!--우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>채널 정보 관리</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/main">Home</a>
      </li> > 
      <li>
        <a>채널 정보 관리</a>
      </li> > 
      <li class="active">
        <strong>변경</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<!--우측 콘텐츠 영역 -->
<form
  class="wrapper wrapper-content"
  action="/channel/modify/<%=channel.channel_id%>"
  method="post"
>
  <div class="ibox-content m-b-sm border-bottom">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group d-flex flex-column">
          <img src="<%=channel.channel_img_path%>" alt="" />
          <label class="control-label">대표 이미지 URL</label>
          <input
            type="text"
            class="form-control"
            name="channel_img_path"
            value="<%=channel.channel_img_path%>"
          />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">커뮤니티 고유번호</label>
          <input
            type="text"
            class="form-control"
            name="comunity_id"
            value="<%=channel.comunity_id%>"
          />
        </div>

        <div class="form-group">
          <label class="control-label">채널명</label>
          <input
            type="text"
            class="form-control"
            name="channel_name"
            value="<%=channel.channel_name%>"
          />
        </div>
        <div class="form-group">
          <label class="control-label">등록일시</label>
          <input
            type="text"
            class="form-control"
            name="reg_date"
            value="<%=moment(channel.reg_date).format('YYYY-MM-DD HH:mm:ss')%>"
            disabled
          />
        </div>
        <div class="form-group">
          <label class="control-label">수정일시</label>
          <input type="date" class="form-control" name="edit_date" />
        </div>

        <div class="form-group">
          <label class="control-label">채널 오픈 상태 코드</label>
          <input
            type="number"
            class="form-control"
            name="channel_state_code"
            value="<%=channel.channel_state_code%>"
          />
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">카테고리 코드</label>
          <input
            type="text"
            class="form-control"
            name="category_code"
            value="<%=channel.category_code%>"
          />
        </div>

        <div class="form-group">
          <label class="control-label">동시 채널 접속자 수</label>
          <input
            type="number"
            class="form-control"
            name="user_limit"
            value="<%=channel.user_limit%>"
          />
        </div>
        <div class="form-group">
          <label class="control-label">등록자 고유 번호</label>
          <input
            type="text"
            class="form-control"
            name="reg_member_id"
            disabled
            value="<%=channel.reg_member_id%>"
          />
        </div>
        <div class="form-group">
          <label class="control-label">수정자 고유 번호</label>
          <input type="number" class="form-control" name="edit_member_id" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="control-label">채널 간략 소개</label>
          <textarea class="form-control" rows="10" cols="5" name="channel_desc">
<%=channel.channel_desc%></textarea
          >
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">저장</button>
      <a href="/channel/delete?channel_id=<%=channel.channel_id%>" class="btn btn-danger" id="btnDelete">삭제</a>
      <a href="/channel/list" class="btn btn-info">목록</a>
    </div>
  </div>

  <script></script>
</form>
